/* base styling for our button */
.btn {
  padding: 0.6rem 1rem;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;
}

/* styling for our variants */
.btn-primary {
  border: none;
  background-color: blue;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(120, 120, 204);
}

.btn-danger {
  border: none;
  background-color: red;
  color: white;
}

.btn-danger:hover {
  background-color: rgb(201, 84, 84);
}

/* styling for different shape*/
.btn-rounded {
  border-radius: 0.4rem;
}
